set_location IN_MUX_bfv_2_11_0_ 2 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_12_0_ 2 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_13_0_ 2 13 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 1 20 4 #SB_LUT4
set_location o_led_obufLegalizeSB_DFF 7 1 0 #SB_DFF
set_location o_led_obufConstOneLUT4 7 1 0 #SB_LUT4
set_location o_led_RNO_3 3 12 2 #SB_LUT4
set_location counter_cry_c[6] 2 11 6 #SB_CARRY
set_location counter_cry_c[14] 2 12 6 #SB_CARRY
set_location counter_RNO[2] 2 11 2 #SB_LUT4
set_location counter[20] 2 13 4 #SB_DFF
set_location counter[13] 2 12 5 #SB_DFF
set_location counter_cry_c[9] 2 12 1 #SB_CARRY
set_location counter_RNO[19] 2 13 3 #SB_LUT4
set_location o_led_RNO 3 11 1 #SB_LUT4
set_location counter_RNO[10] 2 12 2 #SB_LUT4
set_location counter[4] 2 11 4 #SB_DFF
set_location counter_cry_c[2] 2 11 2 #SB_CARRY
set_location counter_cry_c[10] 2 12 2 #SB_CARRY
set_location counter_RNO[6] 2 11 6 #SB_LUT4
set_location counter_RNO[16] 2 13 0 #SB_LUT4
set_location counter[17] 2 13 1 #SB_DFF
set_location counter_cry_c[5] 2 11 5 #SB_CARRY
set_location counter_cry_c[19] 2 13 3 #SB_CARRY
set_location counter_cry_c[12] 2 12 4 #SB_CARRY
set_location counter_RNO[8] 2 12 0 #SB_LUT4
set_location counter_RNO[14] 2 12 6 #SB_LUT4
set_location counter[3] 2 11 3 #SB_DFF
set_location counter[19] 2 13 3 #SB_DFF
set_location o_led_RNO_0 3 11 5 #SB_LUT4
set_location counter_cry_c[7] 2 11 7 #SB_CARRY
set_location counter_RNO[13] 2 12 5 #SB_LUT4
set_location counter_RNO[1] 2 11 1 #SB_LUT4
set_location counter[8] 2 12 0 #SB_DFF
set_location counter[10] 2 12 2 #SB_DFF
set_location counter[1] 2 11 1 #SB_DFF
set_location o_led_RNO_2 3 11 0 #SB_LUT4
set_location counter_cry_c[15] 2 12 7 #SB_CARRY
set_location counter_cry_c[1] 2 11 1 #SB_CARRY
set_location counter_RNO[3] 2 11 3 #SB_LUT4
set_location counter_RNO[11] 2 12 3 #SB_LUT4
set_location counter[12] 2 12 4 #SB_DFF
set_location counter_cry_c[8] 2 12 0 #SB_CARRY
set_location counter_RNO[20] 2 13 4 #SB_LUT4
set_location counter_RNO[18] 2 13 2 #SB_LUT4
set_location counter[7] 2 11 7 #SB_DFF
set_location o_led_RNO_4 3 12 1 #SB_LUT4
set_location o_led 3 11 1 #SB_DFF
set_location counter_cry_c[3] 2 11 3 #SB_CARRY
set_location counter_cry_c[17] 2 13 1 #SB_CARRY
set_location counter_RNO[5] 2 11 5 #SB_LUT4
set_location counter_RNO[17] 2 13 1 #SB_LUT4
set_location counter[14] 2 12 6 #SB_DFF
set_location counter_cry_c[18] 2 13 2 #SB_CARRY
set_location counter[5] 2 11 5 #SB_DFF
set_location GND -1 -1 -1 #GND
set_location o_led_RNO_6 3 11 2 #SB_LUT4
set_location counter_cry_c[11] 2 12 3 #SB_CARRY
set_location counter_RNO[7] 2 11 7 #SB_LUT4
set_location counter_RNO[15] 2 12 7 #SB_LUT4
set_location counter[2] 2 11 2 #SB_DFF
set_location counter[16] 2 13 0 #SB_DFF
set_location o_led_RNO_1 3 12 5 #SB_LUT4
set_location counter_cry_c[4] 2 11 4 #SB_CARRY
set_location counter_RNO[0] 2 11 0 #SB_LUT4
set_location counter[11] 2 12 3 #SB_DFF
set_location counter_cry_c[13] 2 12 5 #SB_CARRY
set_location counter_RNO[9] 2 12 1 #SB_LUT4
set_location counter[18] 2 13 2 #SB_DFF
set_location counter[0] 2 11 0 #SB_DFF
set_location counter_RNO[12] 2 12 4 #SB_LUT4
set_location counter[9] 2 12 1 #SB_DFF
set_location counter[6] 2 11 6 #SB_DFF
set_location o_led_RNO_5 3 12 0 #SB_LUT4
set_location counter_cry_c[16] 2 13 0 #SB_CARRY
set_location counter_cry_c[0] 2 11 0 #SB_CARRY
set_location counter_RNO[4] 2 11 4 #SB_LUT4
set_location counter[15] 2 12 7 #SB_DFF
set_io o_led 48
