# ##############################################################################

# iCEcube PCF

# Version:            2017.01.27914

# File Generated:     Jun 28 2017 02:29:24

# Family & Device:    iCE5LP2K

# Package:            SG48

# ##############################################################################

###IOSet List 18
set_io i_p19but 19
set_io i_switch[2] 26
set_io o_leds[2] 42
set_io i_p21but 21
set_io i_switch[1] 25
set_io i_switch[5] 31
set_io o_leds[1] 38
set_io o_leds[5] 46
set_io i_switch[0] 23
set_io i_switch[4] 28
set_io o_leds[0] 36
set_io o_leds[4] 45
set_io i_switch[3] 27
set_io i_switch[7] 34
set_io o_leds[3] 43
set_io o_leds[7] 48
set_io i_switch[6] 32
set_io o_leds[6] 47

