set_location counter_RNO[0] 2 11 0 # SB_LUT4 (LogicCell: counter[0]_LC_0)
set_location counter[0] 2 11 0 # SB_DFF (LogicCell: counter[0]_LC_0)
set_location counter_cry_c[0] 2 11 0 # SB_CARRY (LogicCell: counter[0]_LC_0)
set_location counter_RNO[1] 2 11 1 # SB_LUT4 (LogicCell: counter[1]_LC_1)
set_location counter[1] 2 11 1 # SB_DFF (LogicCell: counter[1]_LC_1)
set_location counter_cry_c[1] 2 11 1 # SB_CARRY (LogicCell: counter[1]_LC_1)
set_location counter_RNO[10] 2 12 2 # SB_LUT4 (LogicCell: counter[10]_LC_2)
set_location counter[10] 2 12 2 # SB_DFF (LogicCell: counter[10]_LC_2)
set_location counter_cry_c[10] 2 12 2 # SB_CARRY (LogicCell: counter[10]_LC_2)
set_location counter_RNO[11] 2 12 3 # SB_LUT4 (LogicCell: counter[11]_LC_3)
set_location counter[11] 2 12 3 # SB_DFF (LogicCell: counter[11]_LC_3)
set_location counter_cry_c[11] 2 12 3 # SB_CARRY (LogicCell: counter[11]_LC_3)
set_location counter_RNO[12] 2 12 4 # SB_LUT4 (LogicCell: counter[12]_LC_4)
set_location counter[12] 2 12 4 # SB_DFF (LogicCell: counter[12]_LC_4)
set_location counter_cry_c[12] 2 12 4 # SB_CARRY (LogicCell: counter[12]_LC_4)
set_location counter_RNO[13] 2 12 5 # SB_LUT4 (LogicCell: counter[13]_LC_5)
set_location counter[13] 2 12 5 # SB_DFF (LogicCell: counter[13]_LC_5)
set_location counter_cry_c[13] 2 12 5 # SB_CARRY (LogicCell: counter[13]_LC_5)
set_location counter_RNO[14] 2 12 6 # SB_LUT4 (LogicCell: counter[14]_LC_6)
set_location counter[14] 2 12 6 # SB_DFF (LogicCell: counter[14]_LC_6)
set_location counter_cry_c[14] 2 12 6 # SB_CARRY (LogicCell: counter[14]_LC_6)
set_location counter_RNO[15] 2 12 7 # SB_LUT4 (LogicCell: counter[15]_LC_7)
set_location counter[15] 2 12 7 # SB_DFF (LogicCell: counter[15]_LC_7)
set_location counter_cry_c[15] 2 12 7 # SB_CARRY (LogicCell: counter[15]_LC_7)
set_location counter_RNO[16] 2 13 0 # SB_LUT4 (LogicCell: counter[16]_LC_8)
set_location counter[16] 2 13 0 # SB_DFF (LogicCell: counter[16]_LC_8)
set_location counter_cry_c[16] 2 13 0 # SB_CARRY (LogicCell: counter[16]_LC_8)
set_location counter_RNO[17] 2 13 1 # SB_LUT4 (LogicCell: counter[17]_LC_9)
set_location counter[17] 2 13 1 # SB_DFF (LogicCell: counter[17]_LC_9)
set_location counter_cry_c[17] 2 13 1 # SB_CARRY (LogicCell: counter[17]_LC_9)
set_location counter_RNO[18] 2 13 2 # SB_LUT4 (LogicCell: counter[18]_LC_10)
set_location counter[18] 2 13 2 # SB_DFF (LogicCell: counter[18]_LC_10)
set_location counter_cry_c[18] 2 13 2 # SB_CARRY (LogicCell: counter[18]_LC_10)
set_location counter_RNO[19] 2 13 3 # SB_LUT4 (LogicCell: counter[19]_LC_11)
set_location counter[19] 2 13 3 # SB_DFF (LogicCell: counter[19]_LC_11)
set_location counter_cry_c[19] 2 13 3 # SB_CARRY (LogicCell: counter[19]_LC_11)
set_location counter_RNO[2] 2 11 2 # SB_LUT4 (LogicCell: counter[2]_LC_12)
set_location counter[2] 2 11 2 # SB_DFF (LogicCell: counter[2]_LC_12)
set_location counter_cry_c[2] 2 11 2 # SB_CARRY (LogicCell: counter[2]_LC_12)
set_location counter_RNO[20] 2 13 4 # SB_LUT4 (LogicCell: counter[20]_LC_13)
set_location counter[20] 2 13 4 # SB_DFF (LogicCell: counter[20]_LC_13)
set_location counter_RNO[3] 2 11 3 # SB_LUT4 (LogicCell: counter[3]_LC_14)
set_location counter[3] 2 11 3 # SB_DFF (LogicCell: counter[3]_LC_14)
set_location counter_cry_c[3] 2 11 3 # SB_CARRY (LogicCell: counter[3]_LC_14)
set_location counter_RNO[4] 2 11 4 # SB_LUT4 (LogicCell: counter[4]_LC_15)
set_location counter[4] 2 11 4 # SB_DFF (LogicCell: counter[4]_LC_15)
set_location counter_cry_c[4] 2 11 4 # SB_CARRY (LogicCell: counter[4]_LC_15)
set_location counter_RNO[5] 2 11 5 # SB_LUT4 (LogicCell: counter[5]_LC_16)
set_location counter[5] 2 11 5 # SB_DFF (LogicCell: counter[5]_LC_16)
set_location counter_cry_c[5] 2 11 5 # SB_CARRY (LogicCell: counter[5]_LC_16)
set_location counter_RNO[6] 2 11 6 # SB_LUT4 (LogicCell: counter[6]_LC_17)
set_location counter[6] 2 11 6 # SB_DFF (LogicCell: counter[6]_LC_17)
set_location counter_cry_c[6] 2 11 6 # SB_CARRY (LogicCell: counter[6]_LC_17)
set_location counter_RNO[7] 2 11 7 # SB_LUT4 (LogicCell: counter[7]_LC_18)
set_location counter[7] 2 11 7 # SB_DFF (LogicCell: counter[7]_LC_18)
set_location counter_cry_c[7] 2 11 7 # SB_CARRY (LogicCell: counter[7]_LC_18)
set_location counter_RNO[8] 2 12 0 # SB_LUT4 (LogicCell: counter[8]_LC_19)
set_location counter[8] 2 12 0 # SB_DFF (LogicCell: counter[8]_LC_19)
set_location counter_cry_c[8] 2 12 0 # SB_CARRY (LogicCell: counter[8]_LC_19)
set_location counter_RNO[9] 2 12 1 # SB_LUT4 (LogicCell: counter[9]_LC_20)
set_location counter[9] 2 12 1 # SB_DFF (LogicCell: counter[9]_LC_20)
set_location counter_cry_c[9] 2 12 1 # SB_CARRY (LogicCell: counter[9]_LC_20)
set_location o_led_RNO 3 11 1 # SB_LUT4 (LogicCell: o_led_LC_21)
set_location o_led 3 11 1 # SB_DFF (LogicCell: o_led_LC_21)
set_location o_led_RNO_0 3 11 5 # SB_LUT4 (LogicCell: o_led_RNO_0_LC_22)
set_location o_led_RNO_1 3 12 5 # SB_LUT4 (LogicCell: o_led_RNO_1_LC_23)
set_location o_led_RNO_2 3 11 0 # SB_LUT4 (LogicCell: o_led_RNO_2_LC_24)
set_location o_led_RNO_3 3 12 2 # SB_LUT4 (LogicCell: o_led_RNO_3_LC_25)
set_location o_led_RNO_4 3 12 1 # SB_LUT4 (LogicCell: o_led_RNO_4_LC_26)
set_location o_led_RNO_5 3 12 0 # SB_LUT4 (LogicCell: o_led_RNO_5_LC_27)
set_location o_led_RNO_6 3 11 2 # SB_LUT4 (LogicCell: o_led_RNO_6_LC_28)
set_location o_led_obufConstOneLUT4 7 1 0 # SB_LUT4 (LogicCell: o_led_obufLegalizeSB_DFF_LC_29)
set_location o_led_obufLegalizeSB_DFF 7 1 0 # SB_DFF (LogicCell: o_led_obufLegalizeSB_DFF_LC_29)
set_location GND -1 -1 -1 # GND
set_io o_led_obuf 7 0 0 # ICE_IO
set_location osc 0 21 1 # SB_HFOSC
set_location internalOscilator 25 0 2 # SMCCLK
set_location CONSTANT_ONE_LUT4 1 20 4 # SB_LUT4 (LogicCell: LC_30)
