ble_pack CONSTANT_ONE_LUT4_LC_1_20_0 { CONSTANT_ONE_LUT4 }
clb_pack LT_1_20 { CONSTANT_ONE_LUT4_LC_1_20_0 }
set_location LT_1_20 1 20
ble_pack o_leds_obuf_5LegalizeSB_DFF_LC_4_1_0 { o_leds_obuf_5ConstOneLUT4, o_leds_obuf_5LegalizeSB_DFF }
clb_pack LT_4_1 { o_leds_obuf_5LegalizeSB_DFF_LC_4_1_0 }
set_location LT_4_1 4 1
ble_pack o_leds_obuf_4LegalizeSB_DFF_LC_7_1_0 { o_leds_obuf_4ConstOneLUT4, o_leds_obuf_4LegalizeSB_DFF }
ble_pack o_leds_obuf_6LegalizeSB_DFF_LC_7_1_1 { o_leds_obuf_6ConstOneLUT4, o_leds_obuf_6LegalizeSB_DFF }
ble_pack o_leds_obuf_7LegalizeSB_DFF_LC_7_1_2 { o_leds_obuf_7ConstOneLUT4, o_leds_obuf_7LegalizeSB_DFF }
clb_pack LT_7_1 { o_leds_obuf_4LegalizeSB_DFF_LC_7_1_0, o_leds_obuf_6LegalizeSB_DFF_LC_7_1_1, o_leds_obuf_7LegalizeSB_DFF_LC_7_1_2 }
set_location LT_7_1 7 1
ble_pack o_leds_obuf_0LegalizeSB_DFF_LC_8_20_0 { o_leds_obuf_0ConstOneLUT4, o_leds_obuf_0LegalizeSB_DFF }
ble_pack o_leds_obuf_1LegalizeSB_DFF_LC_8_20_1 { o_leds_obuf_1ConstOneLUT4, o_leds_obuf_1LegalizeSB_DFF }
ble_pack o_leds_obuf_2LegalizeSB_DFF_LC_8_20_2 { o_leds_obuf_2ConstOneLUT4, o_leds_obuf_2LegalizeSB_DFF }
ble_pack o_leds_obuf_3LegalizeSB_DFF_LC_8_20_3 { o_leds_obuf_3ConstOneLUT4, o_leds_obuf_3LegalizeSB_DFF }
clb_pack LT_8_20 { o_leds_obuf_0LegalizeSB_DFF_LC_8_20_0, o_leds_obuf_1LegalizeSB_DFF_LC_8_20_1, o_leds_obuf_2LegalizeSB_DFF_LC_8_20_2, o_leds_obuf_3LegalizeSB_DFF_LC_8_20_3 }
set_location LT_8_20 8 20
set_io o_leds[5] 46
set_io o_leds[6] 47
set_io o_leds[7] 48
set_io o_leds[3] 43
set_io o_leds[4] 45
set_io o_leds[0] 36
set_io i_switch[0] 23
set_io o_leds[1] 38
set_io i_switch[1] 25
set_io o_leds[2] 42
set_io i_switch[2] 26
set_io i_p19but 19
