# ##############################################################################

# iCEcube PCF

# Version:            2017.01.27914

# File Generated:     Jun 9 2017 23:24:03

# Family & Device:    iCE5LP2K

# Package:            SG48

# ##############################################################################

###IOSet List 1
set_io o_led 48 -io_std SB_LVCMOS -pullup no

