set_location i_p21but_ibuf_RNITRAP 15 20 1 # SB_LUT4 (LogicCell: i_p21but_ibuf_RNITRAP_LC_0)
set_location o_leds_obuf_RNO[0] 15 20 2 # SB_LUT4 (LogicCell: o_leds_obuf_RNO[0]_LC_1)
set_location o_leds_obuf_RNO[1] 15 20 0 # SB_LUT4 (LogicCell: o_leds_obuf_RNO[1]_LC_2)
set_location o_leds_obuf_RNO[2] 15 20 3 # SB_LUT4 (LogicCell: o_leds_obuf_RNO[2]_LC_3)
set_location o_leds_obuf_RNO[3] 15 20 4 # SB_LUT4 (LogicCell: o_leds_obuf_RNO[3]_LC_4)
set_location o_leds_obuf_RNO[4] 16 19 1 # SB_LUT4 (LogicCell: o_leds_obuf_RNO[4]_LC_5)
set_location o_leds_obuf_RNO[5] 16 19 6 # SB_LUT4 (LogicCell: o_leds_obuf_RNO[5]_LC_6)
set_location o_leds_obuf_RNO[6] 16 19 3 # SB_LUT4 (LogicCell: o_leds_obuf_RNO[6]_LC_7)
set_location o_leds_obuf_RNO[7] 16 20 7 # SB_LUT4 (LogicCell: o_leds_obuf_RNO[7]_LC_8)
set_location o_leds_obuf_0ConstOneLUT4 8 20 0 # SB_LUT4 (LogicCell: o_leds_obuf_0LegalizeSB_DFF_LC_9)
set_location o_leds_obuf_0LegalizeSB_DFF 8 20 0 # SB_DFF (LogicCell: o_leds_obuf_0LegalizeSB_DFF_LC_9)
set_location o_leds_obuf_1ConstOneLUT4 8 20 1 # SB_LUT4 (LogicCell: o_leds_obuf_1LegalizeSB_DFF_LC_10)
set_location o_leds_obuf_1LegalizeSB_DFF 8 20 1 # SB_DFF (LogicCell: o_leds_obuf_1LegalizeSB_DFF_LC_10)
set_location o_leds_obuf_2ConstOneLUT4 8 20 2 # SB_LUT4 (LogicCell: o_leds_obuf_2LegalizeSB_DFF_LC_11)
set_location o_leds_obuf_2LegalizeSB_DFF 8 20 2 # SB_DFF (LogicCell: o_leds_obuf_2LegalizeSB_DFF_LC_11)
set_location o_leds_obuf_3ConstOneLUT4 8 20 3 # SB_LUT4 (LogicCell: o_leds_obuf_3LegalizeSB_DFF_LC_12)
set_location o_leds_obuf_3LegalizeSB_DFF 8 20 3 # SB_DFF (LogicCell: o_leds_obuf_3LegalizeSB_DFF_LC_12)
set_location o_leds_obuf_4ConstOneLUT4 7 1 0 # SB_LUT4 (LogicCell: o_leds_obuf_4LegalizeSB_DFF_LC_13)
set_location o_leds_obuf_4LegalizeSB_DFF 7 1 0 # SB_DFF (LogicCell: o_leds_obuf_4LegalizeSB_DFF_LC_13)
set_location o_leds_obuf_5ConstOneLUT4 4 1 0 # SB_LUT4 (LogicCell: o_leds_obuf_5LegalizeSB_DFF_LC_14)
set_location o_leds_obuf_5LegalizeSB_DFF 4 1 0 # SB_DFF (LogicCell: o_leds_obuf_5LegalizeSB_DFF_LC_14)
set_location o_leds_obuf_6ConstOneLUT4 7 1 1 # SB_LUT4 (LogicCell: o_leds_obuf_6LegalizeSB_DFF_LC_15)
set_location o_leds_obuf_6LegalizeSB_DFF 7 1 1 # SB_DFF (LogicCell: o_leds_obuf_6LegalizeSB_DFF_LC_15)
set_location o_leds_obuf_7ConstOneLUT4 7 1 2 # SB_LUT4 (LogicCell: o_leds_obuf_7LegalizeSB_DFF_LC_16)
set_location o_leds_obuf_7LegalizeSB_DFF 7 1 2 # SB_DFF (LogicCell: o_leds_obuf_7LegalizeSB_DFF_LC_16)
set_location un1_i_switch_cry_0_THRU_LUT4_0 16 20 1 # SB_LUT4 (LogicCell: un1_i_switch_cry_0_THRU_LUT4_0_LC_17)
set_location un1_i_switch_cry_1_c 16 20 1 # SB_CARRY (LogicCell: un1_i_switch_cry_0_THRU_LUT4_0_LC_17)
set_location un1_i_switch_cry_1_THRU_LUT4_0 16 20 2 # SB_LUT4 (LogicCell: un1_i_switch_cry_1_THRU_LUT4_0_LC_18)
set_location un1_i_switch_cry_2_c 16 20 2 # SB_CARRY (LogicCell: un1_i_switch_cry_1_THRU_LUT4_0_LC_18)
set_location un1_i_switch_cry_2_THRU_LUT4_0 16 20 3 # SB_LUT4 (LogicCell: un1_i_switch_cry_2_THRU_LUT4_0_LC_19)
set_location un1_i_switch_cry_3_c 16 20 3 # SB_CARRY (LogicCell: un1_i_switch_cry_2_THRU_LUT4_0_LC_19)
set_location un1_i_switch_cry_3_THRU_LUT4_0 16 20 4 # SB_LUT4 (LogicCell: un1_i_switch_cry_3_THRU_LUT4_0_LC_20)
set_location un1_i_switch_cry_4_c 16 20 4 # SB_CARRY (LogicCell: un1_i_switch_cry_3_THRU_LUT4_0_LC_20)
set_location un1_i_switch_cry_4_THRU_LUT4_0 16 20 5 # SB_LUT4 (LogicCell: un1_i_switch_cry_4_THRU_LUT4_0_LC_21)
set_location un1_i_switch_cry_5_c 16 20 5 # SB_CARRY (LogicCell: un1_i_switch_cry_4_THRU_LUT4_0_LC_21)
set_location un1_i_switch_cry_5_THRU_LUT4_0 16 20 6 # SB_LUT4 (LogicCell: un1_i_switch_cry_5_THRU_LUT4_0_LC_22)
set_location un1_i_switch_cry_6_c 16 20 6 # SB_CARRY (LogicCell: un1_i_switch_cry_5_THRU_LUT4_0_LC_22)
set_location un1_i_switch_cry_0_c 16 20 0 # SB_CARRY (LogicCell: un1_i_switch_cry_0_c_LC_23)
set_location GND -1 -1 -1 # GND
set_io i_p19but_ibuf 21 0 1 # ICE_IO
set_io i_p21but_ibuf 18 0 1 # ICE_IO
set_io i_switch_ibuf[0] 19 21 0 # ICE_IO
set_io i_switch_ibuf[1] 19 21 1 # ICE_IO
set_io i_switch_ibuf[2] 18 21 0 # ICE_IO
set_io i_switch_ibuf[3] 18 21 1 # ICE_IO
set_io i_switch_ibuf[4] 17 21 0 # ICE_IO
set_io i_switch_ibuf[5] 16 21 1 # ICE_IO
set_io i_switch_ibuf[6] 16 21 0 # ICE_IO
set_io i_switch_ibuf[7] 13 21 1 # ICE_IO
set_io o_leds_obuf[0] 9 21 1 # ICE_IO
set_io o_leds_obuf[1] 8 21 1 # ICE_IO
set_io o_leds_obuf[2] 8 21 0 # ICE_IO
set_io o_leds_obuf[3] 9 21 0 # ICE_IO
set_io o_leds_obuf[4] 7 0 1 # ICE_IO
set_io o_leds_obuf[5] 5 0 0 # ICE_IO
set_io o_leds_obuf[6] 6 0 0 # ICE_IO
set_io o_leds_obuf[7] 7 0 0 # ICE_IO
set_location internalOscilator 25 0 2 # SMCCLK
